# Node
node_modules
npm-debug.log
yarn-error.log

# Build
dist

# Environment
.env
.env.local
.env.*.local

# Testing
coverage
*.test.ts
*.spec.ts

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# Documentation
README.md
*.md

# Logs
logs
*.log

# Misc
.DS_Store
